body {
    margin: 0 auto;
    font-family: 'Asap', sans-serif;
}

header {
    background-color: #2b778e; /*#018390;*/
}

nav {
    position: fixed;
    width: 100%;
    background-color: #183e4b;
    color: #e6e7e9;
}

#titleNav {
    display: inline-block;
    margin-left: 5%;
}

#divListNav,
#listNav,
#list {
    display: inline-block;
    list-style: none;
    color: #e6e7e9;
}
.logIn {
    margin-left: 40px;
}

#divListNav {
    margin-left: 65%;
}

#start {
    padding: 15% 0% 15% 0%;
}

#titleStart,
#paragraphStart {
    text-align: center;
    color: #e6e7e9;
    font-size: 150%;
}

#laboratoriaLogo {
    margin-left: 23.5%;
}

#imgchile{
    width: 29%;
    /* height: 30%; */
    padding-left: 2%;
}
#imgperu{
    width: 26%;
    /* height: 25%; */
    padding-left: 3%;
}
#imgmexico{
    width: 34.5%;
    /* height: 30%; */
    padding-left: 3%;
}
#alumnas{
    width: 30%;
    padding-top: 5%;
    padding-left: 15%;
}
#profesores{
    width: 30%;
    padding-left: 10%;


}
#sedechile{
  padding-top: 20%;
}

#studentsStgo {
    border: 1px solid blue;
}

#generacion,
#iconoDown,
#iconoFemale2,
#listaNumeroAlumnas,
#numeroEstudiantes,
#listaAlumnasDesertadas,
#numeroDesertadas,
#listTurn,
#turnOption,
#optionAm,
#optionPm {
    display: inline-block;
    list-style: none;
}

#titleStudents {
    text-align: center;
    font-size: 200%;
}

#generacion {
    font-size: 200%;
    margin-left: 5%;
}

#optionTurn {
    background-color: #f3c92a;
    width: 30%;
}

#turnOption {
    font-size: 180%;
    margin: 0% 0% 0% 5%;
}

#listTurn {
    font-size: 175%;
    margin: 0% 0% 0% 0.5%;
}

#optionPM {
    background-color: #212121;
}

#iconoDown {
    margin-left: 1%;
}
