body {
    margin: 0 auto;
    font-family: 'Asap', sans-serif;
}

/*INICIO Y BARRA DE NAVEGACIÓN*/
header {
    background-color: white; /*#018390;*/
}

nav {
    position: fixed;
    width: 100%;
    background-color: #faa819;
    color: white;
    top: 0;
    z-index: 100;
}

#titleNav {
    display: inline-block;
    margin-left: 5%;
}

#labNav {
  color: white;
}


#divListNav,
#listNav,
#listCities,
#listLogIn,
#listStudentsTeachers{
    display: inline-block;
    list-style: none;
    color: white;
    font-weight: bold;
}

#listCities {
    margin-right: 10px;
}

#listLogIn {
  margin-left: 10px;
}

#divListNav {
    margin-left: 50%;
}

#start {
    padding: 15% 0% 15% 0%;
}

#titleStart,
#paragraphStart {
    text-align: center;
    color: grey;
    font-size: 150%;
}

#laboratoriaLogo {
    margin-left: 23.5%;
}

/*SECTION CITIES*/
#titleCities {
  text-align: center;
  padding: 7% 2% 2% 2%;
  font-size: 200%;
  color: grey;
}

#imgchile,
#imgperu,
#imgmexico {
  padding: 3% 0% 10% 0%;
}

#imgchile{
    width: 29%;
    /* height: 30%; */
    margin-left: 2%;
    border-radius: 20px;
}
#imgperu{
    width: 26%;
    /* height: 25%; */
    margin-left: 3%;
    border-radius: 20px;
}
#imgmexico{
    width: 34.5%;
    /* height: 30%; */
    margin-left: 3%;
    border-radius: 20px;
}

/*SECCIÓN CHILE*/
#titleChile {
  text-align: center;
  padding: 0% 0% 0% 2;;
  font-size: 200%;
  color: grey;
  margin-top: 4%;
}

#alumnas{
    width: 40%;
    margin-top: 5%;
    margin-left: 8%;
    border-radius: 20px;
}
#profesores{
    width: 40%;
    margin-left: 3%;
    border-radius: 20px;
}

#chile{
  padding: 5% 0% 7% 0%;
}

/*SECCIÓN STUDENTSSTGO*/

/*seccion*/
#studentsStgo {
}

#generacion,
#iconoDown,
#femaleIcon2,
#listStudentsNumbers,
#studentsNumbers,
#listDropoutStudents,
#dropoutNumber {
    display: inline-block;
    list-style: none;
}

#titleStudents {
    text-align: center;
    font-size: 200%;
    color: grey;
}

#generacion {
    font-size: 200%;
    margin-left: 5%;
}

#iconoDown {
    margin-left: 1%;
}

/*sección studentsNumbers*/
#numberStudentsTotal{
  width: 100%;
  height: 30%;
}

#divNumbersStudents{
  /*border: 1px solid red;*/
  margin-top: 0%;
  margin-left: 0%;
  width: 50%;
  position: relative;
  left: 50%;
  bottom: 400px;
}

#divTotalDropout {
  display: inline-block;
  color: grey;
  /*border: 1px solid blue;*/
}

#numero,
#numeroDesertadas{
  font-size: 250%;
}

/*sección dropoutNumber*/
#dropoutNumber {
}
/*seccion menu desplegable*/
#dropdownMenu { padding: 0.5em; }
#dropdownMenu li { margin: 0px 5px;
            float: left;
           list-style-type: none; }
#dropdownMenu li:hover { color: #f7ce3b; }
#dropdownMenu li a:link, #dropdownMenu li a:visited {
           color:black; text-decoration: none; }
#dropdownMenu li a:hover, #dropdownMenu li a:active {
           color:#f7ce3b ; text-decoration: none; font-size: 30px;}
.delete { clear: both; }
#subseccion0{
    white-space: nowrap;   

}
#dropdownMenu li a {
    text-align: center;
}
#dropdownMenu {
    position: relative;
    left: 23%;
    bottom: 90px;
    width: 30%;
    z-index: 99;
}

#titleTeachers {
    font-size: 200%;
    text-align: center;
    margin-top: 9%;
    color: grey;
}

#studentsProfile{
    margin-left: 10%;
    text-align: center;
    color: grey;
    font-size: 140%; 
    display: inline-block;
}

#selStudents {
    width: 80%;
    height: 40px;
    font-size: 70%;
    display: inline-block;
}

#divGraphicStudent {
    display: inline;
}

a{
    text-decoration: none;
}

