body {
    margin: 0 auto;
}

nav {
    position: fixed;
    border: 1px solid black;
    width: 100%;
}

#tituloNav {
    display: inline-block;
    margin-left: 5%;
}

#divListaNav,
#listaNav,
#lista {
    display: inline-block;
    list-style: none;
}

#divListaNav {
    margin-left: 65%;
}

#inicio {
    border: 1px solid red;
    padding: 15% 0% 15% 0%;
}

#tituloInicio,
#parrafoInicio {
    text-align: center;
}

#laboratoriaLogo {
    margin-left: 25%;
}
#imgchile{
    width: 29%;
    /* height: 30%; */
    padding-left: 2%;
}
#imgperu{
    width: 26%;
    /* height: 25%; */
    padding-left: 3%;
}
#imgmexico{
    width: 34.5%;
    /* height: 30%; */
    padding-left: 3%;
}
#alumnas{
    width: 30%;
    padding-top: 5%;
    padding-left: 15%;
}
#profesores{
    width: 30%;
    padding-left: 10%;


}
#sedechile{
  padding-top: 20%;
}

#studentsStgo {
    border: 1px solid blue;
}

#generacion,
#iconoDown,
#listaPerfilAlumnas,
#iconoFemale2,
#listaNumeroAlumnas,
#numeroEstudiantes,
#perfilEstudiantes,
#listaAlumnasDesertadas,
#numeroDesertadas,
#listaTurn,
#turnOption,
#optionAm,
#optionPm {
    display: inline-block;
    list-style: none;
}
