body {
    margin: 0 auto;
    font-family: 'Asap', sans-serif;
}

/*INICIO Y BARRA DE NAVEGACIÓN*/
header {
    background-color: #2b778e; /*#018390;*/
}

nav {
    position: fixed;
    width: 100%;
    background-color: #183e4b;
    color: #e6e7e9;
}

#titleNav {
    display: inline-block;
    margin-left: 5%;
}

#divListNav,
#listNav,
#listCities,
#listLogIn {
    display: inline-block;
    list-style: none;
    color: #e6e7e9;
}

#listCities {
    margin-right: 25px;
}

#divListNav {
    margin-left: 65%;
}

#start {
    padding: 15% 0% 15% 0%;
}

#titleStart,
#paragraphStart {
    text-align: center;
    color: #e6e7e9;
    font-size: 150%;
}

#laboratoriaLogo {
    margin-left: 23.5%;
}

/*SECTION CITIES*/
#titleCities {
  text-align: center;
  padding: 2%;
  font-size: 200%;
}

#imgchile,
#imgperu,
#imgmexico {
  padding: 3% 0% 10% 0%;
}

#imgchile{
    width: 29%;
    /* height: 30%; */
    margin-left: 2%;
}
#imgperu{
    width: 26%;
    /* height: 25%; */
    margin-left: 3%;
}
#imgmexico{
    width: 34.5%;
    /* height: 30%; */
    margin-left: 3%;
}

/*SECCIÓN CHILE*/
#titleChile {
  text-align: center;
  padding: 2% 0% 0% 2;;
  font-size: 200%;
}

#alumnas{
    width: 30%;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 20px;
}
#profesores{
    width: 30%;
    margin-left: 10%;
}

#chile{
  padding: 5% 0% 7% 0%;
}

/*SECCIÓN STUDENTSSTGO*/

/*seccion*/
#studentsStgo {
}

#generacion,
#iconoDown,
#femaleIcon2,
#listStudentsNumbers,
#studentsNumbers,
#listDropoutStudents,
#dropoutNumber {
    display: inline-block;
    list-style: none;
}

#titleStudents {
    text-align: center;
    font-size: 200%;
}

#generacion {
    font-size: 200%;
    margin-left: 5%;
}

#iconoDown {
    margin-left: 1%;
}

/*sección studentsNumbers*/
#numberStudentsTotal{
  width: 100%;
}

#divNumbersStudents{
  /*border: 1px solid red;*/
  width: 65%;
  float: right;
  overflow: hidden;
  clear: both;
}

#graphicStudent {
  width: 45%;
  padding: 2% 0% 4.5% 0%;
  /*border: 1px solid purple;*/
}

#divTotalDropout {
  float: right;
  width: 50%;
  color: grey;
  /*border: 1px solid blue;*/
  clear: both;
  overflow: hidden;
  padding: 9% 0% 0% 0%;
}

#numero,
#numeroDesertadas{
  font-size: 250%;
}

#estudentsNumbers {}
}

/*sección dropoutNumber*/
#dropoutNumber {
}
/*seccion menu desplegable*/
#dropdownMenu { padding: 0.5em; }
#dropdownMenu li { margin: 0px 5px;
            float: left;
           list-style-type: none;   }
#dropdownMenu li:hover { color: yellow; }
#dropdownMenu li a:link, #dropdownMenu li a:visited { 
           color:black; text-decoration: none; }
#dropdownMenu li a:hover, #dropdownMenu li a:active { 
           color:#f7ce3b ; text-decoration: none; font-size: 30px;}
.delete { clear: both; }
#subseccion0{
    white-space: nowrap;

   
}	
#dropdownMenu li a {
    text-align: center;
}
#dropdownMenu {
    position: relative;
    left: 23%;
    bottom: 90px;
}
